/*
Defaults
*/
*{
  margin: 0px;
  padding: 0px;
}
@font-face{
  src: url("../Fonts/KeepCalm.ttf");
  font-family: defaultFont;
}
p{
  font-family: defaultFont, monospace;
}


body{
  display: flex;
}

/*
Folders
*/
#folders{
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  max-width: 20%;

  background-color: #1d2e46;

  color: white;
  font-size: 20px;
  user-select: none;
}
.root{
  overflow-wrap: break-word;

  border-top: 1px solid #979797;

  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  cursor: pointer;
}
.root:last-child{
  border-bottom: 1px solid #979797;
}

p{
  border-radius: 3px;
  /* padding-left: 5px; */
}
p:hover{
  background-color: #2e496e;
}

.subdir{
  display: flex;
  /* display: none; */
  flex-direction: column;

  border-top: 3px solid white;
  border-bottom: 2px solid white;

  background-color: #1d2e46;

  padding-top: 5px;
  margin-bottom: 5px;

  font-size: 17px;
}

/*
Contents
*/
#contents{
  flex-grow: 1;
  flex-basis: 1;
}