:root{
    --background-color: #6da5f9;
}

#content{
    display: flex;
    flex-direction: column;
}

.content_with_projects{
    flex: 1;

    display: flex;
    flex-direction: row;
}

.content_div_projects{
  display: flex;
  flex-direction: column;
}

.content_Projects{
    width: 250px;
    flex: 1;
    height: auto;

    border-radius: 5px;

    margin-right: 10px;

    background-color: var(--background-color);
}
.content_Projects p{
    margin-left: 5px;
}
.content_Projects h2{
    margin-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.content_Projects big{
  padding-left: 5px;
}
.content_Projects p:hover{
    color: white;
    cursor: pointer;
}

.content_viewer{
    border: 1px solid black;
    background-color: white;

    flex-grow: 1;

    display: flex;
    flex-grow: column;
}

.content_iframe{
    flex-grow: 1;
    width: 100%;

    border: none;
}
